/********** Template CSS **********/
:root {
  --primary: #fe5d37;
  --light: #fff5f3;
  --dark: #103741;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
  font-weight: 600;
}

.font-secondary {
  font-family: "Lobster Two", cursive;
}

/*** Navbar ***/
.navbar .navbar-nav .nav-link {
  padding: 30px 10px;
  color: var(--dark);
  font-weight: 500;
  outline: none;
  font-size: 15px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: calc(100% - 15px);
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url(../img/bg-header-top.png) center center repeat-x;
  z-index: 1;
}

.header-carousel::after,
.page-header::after {
  height: 19px;
  top: auto;
  bottom: 0;
  background: url(../img/bg-header-bottom.png) center center repeat-x;
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/about-header.png) center center no-repeat;
  background-size: cover;
}
.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/contact-header.jpg) center center no-repeat;
  background-size: cover;
}
.error-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/error-header.png) center center no-repeat;
  background-size: cover;
}
.gallery-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/gallery-header.jpg) center center no-repeat;
  background-size: cover;
}
.pay-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/pay-header.jpg) center center no-repeat;
  background-size: cover;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*** Facility ***/
.facility-item .facility-icon {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-item .facility-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-icon span {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
  left: auto;
  right: 0;
}

.facility-item .facility-icon i {
  position: relative;
  z-index: 2;
}

.facility-item .facility-text {
  position: relative;
  min-height: 250px;
  padding: 30px;
  border-radius: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.facility-item .facility-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-text * {
  position: relative;
  z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
  background: transparent;
}

.facility-item * {
  transition: 0.5s;
}

.facility-item:hover * {
  color: #ffffff !important;
}

/*** About ***/
.about-img img {
  transition: 0.5s;
}

.about-img img:hover {
  background: var(--primary) !important;
}

/*** Classes ***/
.classes-item {
  transition: 0.5s;
}

.classes-item:hover {
  margin-top: -10px;
}

/*** Team ***/
.team-item .team-text {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 17px solid var(--light);
  border-radius: 250px;
  transition: 0.5s;
}

.team-item:hover .team-text {
  border-color: var(--primary);
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 45px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  border-color: var(--primary);
  background: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary) !important;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: #ffffff;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
  color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/*** Custom Css ***/
.bg-color {
  background-color: #f2f2f247 !important;
}
.bg-color small:hover {
  color: #fe5d37 !important;
}
.logo-area-width {
  width: 200px;
}
.logo {
  width: 100%;
}
.admission-open {
  position: fixed;
  right: 0px;
  bottom: 35%;
  z-index: 99;
  background: #ffffff;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
}
.admission-open span {
  display: block;
  text-align: center;
  font-size: 19px;
  color: #2c3795;
  font-weight: 700;
}
.text-change {
  color: #fe5d37 !important;
}
.text-change:after {
  content: "";
  animation: text-change 2s linear infinite;
}
@keyframes text-change {
  0% {
    content: "Click here";
  }
  100% {
    content: "2022-2023";
  }
}
.admission-bg-change {
  background: #d6d8ea4f;
}
.line-height-message {
  line-height: 30px;
}
.notice-heading {
  border-bottom: 1px dashed #000;
  padding-bottom: 10px;
}
.marquee marquee {
  height: 200px;
}
.marquee ul {
  list-style: none;
}
.marquee ul li {
  border-bottom: 1px dashed #d5d5d5;
  padding-bottom: 5px;
}
.marquee h6 {
  font-size: 13px;
}
.marquee small {
  font-size: 11px;
}
.view-border-radius {
  border-radius: 0px 0px 10px 10px;
}
.gallery-name {
  text-align: center;
  background: #fe5d37;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.section-services .single-service {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
}

.section-services .single-service .content {
  position: relative;
  z-index: 20;
}

.section-services .single-service .circle-before {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-color: #ff4500;
  border: 6px solid #504f93;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 10;
  transition: all 0.6s;
}

.section-services .single-service:hover .circle-before {
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.section-services .single-service .icon {
  display: inline-block;
  margin-bottom: 26px;
  width: 70px;
  height: 70px;
  background-color: #fe5d37;
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
}

.section-services .single-service:hover .icon {
  background-color: #fff;
  color: #fe5d37;
}

.section-services .single-service .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 23px;
  transition: color 0.3s;
}

.section-services .single-service:hover .title {
  color: #fff;
}

.section-services .single-service .description {
  margin-bottom: 20px;
  font-size: 14px;
  transition: color 0.3s;
}

.section-services .single-service:hover .description {
  color: #fff;
}

.section-services .single-service a {
  position: relative;
  font-size: 18px;
  color: #202020;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.section-services .single-service:hover a {
  color: #fff;
}

.section-services .single-service a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ff4500;
  transition: background-color 0.3s;
}

.section-services .single-service:hover a:after {
  background-color: #fff;
}
.download-app .scan-image {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
.image-grid figure {
  margin-bottom: 0;
}

.image-grid img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
}

.image-grid a:hover img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

/* LIGHTBOX STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.lightbox-modal .modal-content {
  background: var(--lightbox);
}

.lightbox-modal .btn-close {
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 1.2rem;
  z-index: 10;
  opacity: 1;
}
.lightbox-modal .btn-close:focus {
  outline: 0;
  box-shadow: none;
}
.lightbox-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
}

.lightbox-modal img {
  width: auto;
  max-height: 100vh;
  max-width: 100%;
}

.lightbox-modal .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 36, 36, 0.75);
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  width: auto;
}

.lightbox-modal .carousel-control-prev {
  left: 10px;
}

.lightbox-modal .carousel-control-next {
  right: 10px;
}
.card {
  border: 0;
  border-radius: 0.1875rem;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
  padding: 0;
  border: 1px solid #d5d5d5;
}
.card .card-body {
  padding: 30px;
}
.card .from-input input,
.card .form-select,
.card textarea {
  border-radius: 0;
}
.card .from-input input:hover,
.card .from-input input:focus,
.card .form-select:hover,
.card .form-select:focus,
.card textarea:hover,
.card textarea:focus {
  outline: 0;
  box-shadow: none;
  border-color: #20466b;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  opacity: 1;
}
.pay-section {
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 8%);
}
.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}
.search input {
  height: 40px;
  text-indent: 20px;
  border-radius: 0;
  color: #000;
}
.search input:hover,
.search input:focus {
  box-shadow: none;
  outline: 0;
}
.search .fa-search {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 12px;
}
.search button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  background: #fe5d37;
  border-radius: 0;
}
.search button:hover,
.search button:focus {
  box-shadow: none;
  outline: 0;
}
h6.background {
  position: relative;
  z-index: 1;
  text-align: center;
  top: 20px;
}
h6.background:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  z-index: -1;
}
h6.background span {
  background: #fff;
  padding: 0 8px;
  font-size: 20px;
}
.search-enroll input {
  border-radius: 0;
}
.search-enroll input:hover, .search-enroll input:focus {
  box-shadow: none;
}
.flexipay {
  justify-content: space-between;
}
.student-information .card {
  border: 0;
}
.student-information p {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0px;
}
.student-information ul li {
  list-style: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
  line-height: 25px;
}
.student-information ul li:last-child {
  border-bottom: 0;
}
.student-information ul li img {
  width: 50px;
  margin-left: 10px;
  vertical-align: sub;
}
.back-btn {
  margin: 30px auto 0;
  display: block;
}
.nav-pills-custom .nav-link {
    color: #103741;
    background: #fff;
    position: relative;
}
.nav-pills-custom .nav-link.active {
    color: #fff;
    background: #fe5d37;
}
.nav-pills-custom .nav-link.active::before {
  opacity: 1;
  border-left: 8px solid #fe5d37;
}
/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -8px;
        transform: translateY(-50%);
        opacity: 0;
    }
}
.tab-header img {
  
}
